/* --------------------------------RESPONSIVE-------------------------- */
@media(max-width:1280px){
    a,div,.party-wrapper p{
        font-size: 14px;
    }
    
    #navbar ul{
        width: 60%;
    }
    .resources-con h1,.News h1,#Page-3-head,#Page-4-head,.headbg,.evm-wrapper h1{
        font-size: 50px;
    }
    #Nextbtn,#Prevbtn{
        font-size: 18px;
        padding: 10px;
    }
    .party-wrapper h1{
        font-size: 35px;
    }
    .candidate-box{
        flex-direction: column;
    }
    .candidate-info img,.party-info img{
        width: 30%;
    }
}


@media(max-width:900px){
    #navbar ul{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    .resources-con h1,.News h1,#Page-3-head,#Page-4-head,.headbg,.evm-wrapper h1{
        font-size: 40px;
    }
    p,div{
        font-size: 12px;
    }
    .Seat-count{
        flex-direction: column;
        width: 100%;
        margin-bottom: 5%;
    }
    .Seat-count video{
        
        width: 100%;
    }
    
    .Seat-count-box{
        flex-direction: row;
        width: 100%;
    }
    .News-item{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .News-item-img{
        width: 30%;
    }
    .News-box{
        flex-direction: column;
    }
    .News-con{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2%;
    }
    .News-con h2{
        text-align: left;
    }
    .debate-img{
        width: 80%;
    }
    .debate-img-red-space{
        font-size: 10px;
    }
    .debate-item h1{
        font-size: 28px;
    }
    .debate-item p{
        font-size: 14px;
    }
    #Nextbtn,#Prevbtn{
        font-size: 16px;
        padding: 10px;
    }
    .social{
        width: 50%;
    }
    footer a{
        font-size: 18px;
    }
    footer p{
        font-size: 10px;
    }
    .party-wrapper h1{
        font-size: 30px;
    }
    .party-wrapper p,.timeline-con{
        font-size: 12px;
    }
    .candidate-info img,.party-info img{
        width: 50%;
    }
    .timeline-item{
        flex-direction: column;
    }

}
@media(max-width:700px){
    
    .resources-con h1,.News h1,#Page-3-head,#Page-4-head,.headbg,.evm-wrapper h1{
        font-size: 30px;
    }
    .resources-con em{
        font-size: 14px;
    }
    .resources-box{
        flex-direction: column;
        
    }
    .res{
        flex-direction: column-reverse;
    }
    .resources-box video{
        width: 100%;
    }
    .vid-box p{
        display: none;
    }
    .resources-con{
        width: 100%;
        margin: 5% 0;
        
    }
    .resources-con{
        text-align: center;
    }
    .index-para{
        display: block;
        text-align: left;
    }
    .Seat-count-box h2{
        font-size: 30px;
    }
    .Seat-count-box{
        padding: 5%;
    }
    .Seat-item-con{
        margin-top: 0;
        
    }
    .Seat-item-con a{
        font-size: 12px;
    }
    .News-item-img{
        width: 50%;
    }
    .debate-img{
        width: 100%;
    }
    .debate-img-red-space{
        font-size: 8px;
    }
    .debate-item h1{
        font-size: 24px;
        width: 100%;
    }
    .debate-item p{
        font-size: 12px;
    }
    #Page-3{
        padding: 3%;
    }
    .voters-con p{
        font-size: 10px;
    }
    .voters-con a{
        font-size: 12px;
    }
    .social{
        width: 70%;
    }
    footer a{
        font-size: 14px;
    }
    .party-wrapper h1{
        font-size: 26px;
    }
    .party-wrapper p,.timeline-con{
        font-size: 10px;
    }
    .evm-wrapper h3{
        font-size: 12px;
    }
}

@media(max-width:500px){
    
    .resources-con h1,.News h1,#Page-3-head,#Page-4-head,.headbg,.evm-wrapper h1{
        font-size: 24px;
    }
    .index-para{
        font-size: 10px;
    }
    .dropdownmenu{
        width: 250px;
    }
    .Seat-count-box h2{
        font-size: 24px;
    }
    .News-con h3{
        font-size: 16px;
    }
    .News-con p{
        font-size: 10px;
    }
    .News-item-img{
        width: 60%;
    }
    .debate-img-red-space{
        font-size: 6px;
    }
    .debate-item h1{
        font-size: 20px;
        
    }
    .debate-item p{
        font-size: 10px;
    }
    #Nextbtn,#Prevbtn{
        font-size: 10px;
        padding: 5px;
    }
    .voters-resource{
        flex-direction: column;
    }
    .voters-con a{
        width: 100%;
        text-align: center;
    }
    .party-wrapper h1{
        font-size: 20px;
    }
    .party-wrapper h1{
        text-align: center;
    }
    .party-info,.candidate-info{
        flex-direction: column;
    }
    .candidate-info img,.party-info img{
        width: 70%;
    }
    .candidate-box{
        margin: 5% 0 0 0;
    }
    #Logo img{
        width: 50%;
    }

}
@media(max-width:300px){
    
    .resources-con h1,.News h1,#Page-3-head,#Page-4-head,.headbg,.evm-wrapper h1{
        font-size: 20px;
    }
    .resources-con em{
        font-size: 12px;
    }
    .dropdownmenu{
        width: 200px;
    }
    .Seat-count-box h2{
        font-size: 20px;
    }
    .Seat-item-con a{
        font-size: 10px;
    }
    .News-con h3{
        font-size: 12px;
    }
    .News-con p{
        font-size: 8px;
    }
    .debate-img-con{
        flex-direction: column;
    }
    .party-wrapper h1{
        font-size: 16px;
    }
    
}
@media(max-width:350px){
    
    .News-item-img{
        width: 70%;
    }
    .News-con h3{
        font-size: 12px;
    }
    .News-con p{
        font-size: 7px;
    }
    .debate-img-red-space{
        font-size: 5px;
    }
    .debate-item h1{
        font-size: 18px;
        
    }
    .debate-item p{
        font-size:8px;
    }
    .voters-con p{
        font-size: 8px;
    }
    .voters-con a{
        font-size: 10px;
    }
    
}
@media(max-width:250px){
    
    .News-item-img{
        width: 90%;
    }
    
    
    
}
@media(max-width:200px){
   
    .Seat-count-box h2{
        font-size: 16px;
    }
    .Seat-item-con a{
        font-size: 8px;
    }
    
    
}

@media(min-width:900px){
    .open{
        height: 0;
        padding: 0;
    }
}


